@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.slick-slide div {
	@apply outline-none;
}

@layer base {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
	html {
		@apply scroll-smooth scroll-pt-10 text-[clamp(0.87rem,1vw+0.35rem,1rem)];
	}
}
